*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.first{
    font-size: 30px;
    text-transform: capitalize;
    padding: 5px;
    color: blue;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

header{
    background: white;
    position: fixed;
    height: 50px;
    width: 100%;
}

.main{
    padding-top: 50px;
    height: 100vh;
    background: center / cover no-repeat url("/img/earth.jpg"); 
}

.main1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 50%;
    border: 2px solid white;
    background: blue;
    margin-left: 20vw;
    margin-top: 20px;
    transform: translate(50px, 50px);
}

.main10{
    height: 200px;
    width: 40%;
    border: 1px solid white;
    box-shadow: 2px 4px 30px white;
    
}

.img10{
    width: 100%;
    height: 100%;
}

.title{
    color: white;
    text-align: center;
    margin-top: 20px;
    
}

.vol{
    text-align: center;
}

button, .vol input{
    cursor: pointer;
}

label{
    color: blue;
    font-size: 20px;
    text-transform: capitalize;
}

footer{
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
}

